@import 'variables';
.starship-detail {
    display: flex;
    flex-direction: column;
    .detail-header {
        display: flex;
        h1 {
            margin-right: 1rem;
        }
        p {
            font-weight: bold;
            width: 100%;
            @media @desktop {
                width: auto;
            }
        }
    }
    .header-texts {
        @media @desktop {
            flex-grow: 1;
            align-items: baseline;
            display: flex;
        }
    }
    .logos {
        display: none;
        @media @from-tablet {
            display: initial;
            margin-left: auto;
        }
    }
    .logos-text {
        @media @from-tablet {
            display: none;
        }
    }
    .logo {
        max-height: 80px;
        display: none;
        @media @from-tablet {
            display: initial;
        }
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    .details-content {
        border-top: 1px solid @gray-blue;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        &>* {
            flex-grow: 1;
        }
        @media @from-tablet {
            flex-wrap: wrap;
            flex-direction: row;
        }
        .full-width {
            width: 100%;
        }
        .name-label {
            color: lightslategray;
            fill: lightslategray;
            font-weight: bold;
        }
        .level-value {
            color: white;
            fill: white;
            font-weight: normal;
        }
        .level-bar,
        p {
            padding: 1rem 1rem 1rem 0;
        }
        .level-bar {
            @media @from-tablet {
                width: 50%;
            }
            @media screen and (min-width: @levelBarTP) {
                width: 33%;
                max-width: 400px;
            }
        }
    }
}