@import 'variables';
.starship-detail {
  display: flex;
  flex-direction: column;
  .detail-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    h1 {
      margin-right: 1rem;
    }
    .logos {
      margin-left: auto;
    }
  }
  .logo {
    max-height: 80px;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .details-content {
    border-top: 1px solid @gray-blue;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    .full-width {
      width: 100%;
    }
    .name-label {
      color: lightslategray;
      fill: lightslategray;
      font-weight: bold;
    }
    .level-value {
      color: white;
      fill: white;
      font-weight: normal;
    }
    .level-bar, p {
      margin: 1rem 1rem 1rem 0;
    }
  }
}
